In [ ]:
# Assignment 1

In [8]:
 # Write a function to compute 5/0 and use try/except to catch the exceptions.
    try:
        z = 5/0
        print("Yeah ! Your answer is :", z)
    except: 
        print("Sorry ! You are dividing by zero ")

Sorry ! You are dividing by zero

In [ ]:
# Assignment 2

In [32]:
''' 
Implement a Python program to generate all sentences where subject is in ["Americans",
"Indians"] and verb is in ["Play", "watch"] and the object is in ["Baseball","cricket"].
''' 
subjects=["Americans ","Indians"]
verbs=["play","watch"]
objects=["Baseball","Cricket"]
sent=[ x+" "+y+" "+z for x in subjects for y in verbs for z in objects]
for s in sent:
    print(s)

Americans  play Baseball
Americans  play Cricket
Americans  watch Baseball
Americans  watch Cricket
Indians play Baseball
Indians play Cricket
Indians watch Baseball
Indians watch Cricket

In [24]:

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database1.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(subjects text)")
db.execute("create table grades2( verbs text)")
db.execute("create table grades3(objects text)")
#inserting values inside the created table
db.execute("insert into grades1(subjects ) values('Americans' )")
db.execute("insert into grades1(subjects ) values('Indians' )")
db.execute("insert into grades2(verbs ) values('play' )")
db.execute("insert into grades2(verbs ) values('watch'  )")
db.execute("insert into grades3(objects ) values('Baseball' )")
db.execute("insert into grades3(objects ) values('Cricket' )")

In [25]:
db.commit()

In [31]:
results = db.execute("select * from grades1,grades2,grades3 ")

for row in results:
    print(row)

print("-" * 60 )

('Americans', 'play', 'Baseball')
('Americans', 'play', 'Cricket')
('Americans', 'watch', 'Baseball')
('Americans', 'watch', 'Cricket')
('Indians', 'play', 'Baseball')
('Indians', 'play', 'Cricket')
('Indians', 'watch', 'Baseball')
('Indians', 'watch', 'Cricket')
------------------------------------------------------------